.containerGeneral{
}
.fondoImagen{
    // background: #bdc3c7; 
    // background: -webkit-linear-gradient(to right, #bdc3c7bc, #2c3e50), url(../../image/foto.jpg); 
    // background: linear-gradient(to right, #bdc3c785, #2c3e50d5), url(../../image/foto.jpg);
    // background-image: url(../../image/PublicidadCuatro.jpg);
    // background-attachment: fixed;
    // background-position: center;
    // background-size: cover;
    position:relative; 
    z-index:1;
}

.banner-user{
    height: 700px;
    width: 100%!important;
}
.banner-elemento{
    width: 100%!important;
    height: 100%!important;
    background-repeat: no-repeat;
    background-attachment: center;
    background-position: center center;
    background-size: contain;
}
.buttonIndex{
    position:absolute; 
    z-index:3;
    left: 20em; 
    top: 80%; 
    opacity:0.9
}
@media(max-width: 768px){
.banner-user{
    height: 150px!important;
}
}

