
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

.clase{
    align-items: flex-end;
}
/* FONT FAMILY STYLES */
h1, h2, h3, h4, h5, h6{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Quicksand';
    font-weight: 300;
}
p, a, li{
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Quicksand';
    font-weight: 300; 
}